@charset "utf-8";
/* CSS Document */
.blankdiv1 {
	padding: 20px 0px;
}

.myworkstitle {
	padding: 20px;
}

.workstitle {
	padding: 10px;
}



.myeducationtext {
	font-family: 'Source Sans Pro';
	padding: 30px;
}

.myeducationpoints {
	background-color: hsla(23,25%,94%,1.00);
	padding: 20px;
}

.myeducationpara{
	padding: 20px;
}



@media (min-width:828px) and (max-width:970px) {
	
		
	.myeducationtext {
		font-size:14px;

}

}

@media (min-width:100px) and (max-width:828px) {
	.myeducationtext {
			font-size:14px;
}
}
